body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat-bold';
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat-bold';
    font-size: 1.5rem;
}

#title {
    background-color: #FF4C68;
}

.container-fluid {
    padding: 3% 15% 8%;
}

.hero-img {
    width: 20%;
    transform: rotate(15deg);
    position: absolute;
    right: 25%;
}


/* Download Buttons */

i {
    margin-right: 0.5rem;
}

.dwnl-button {
    margin-right: 1rem;
    margin-top: 1rem;
}

/* NAVIGATION BAR */

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-light';
}

.nav-item {
    padding: 0 18px;
}

.navbar-nav {
    font-size: 1.2rem;
    margin-right: 3rem;
    ;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 2.5rem;
}

.navbar {
    margin-bottom: 5rem;
}

/* Features Section */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.features-wrap .col-lg-4 {
    text-align: center;
}

.features-wrap .bi {
    color: #ef8172;
    font-size: 4rem;
}

.features-wrap .bi:hover {
    color: #ff4c68;
}

.features-wrap p {
    color: #8f8f8f;
}

/* Testimonial section */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

#press img {
    width: 15%;
    margin: 20px 20px 15px;
}


/* Cards section */

#pricing {
    padding: 100px;
}

.pricing-column{
    padding: 3% 2%;
}

.card {
    text-align: center;
}

@media (max-width: 991px){
    .hero-img {
        position: static;
        transform: rotate(0);
        width: 40%;
        padding-top: 60px;
    }
    #title {
        text-align: center;
    }

}

/* Footer section */

#cta {
    background-color: #FF4C68;
    text-align: center;
    padding: 7% 15%;
    color: #fff;
}

#cta h2 {
    font-family: 'Montserrat-black';
}

.button-footer {
    margin-top: 60px;
    border-radius: 0;
}

#footer {
    text-align: center;
    padding: 5% 15%;
    background-color: #fff;
}

#footer p {
    margin-top: 10px;
}